/* General Styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

/* Form Styles */
.form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fieldset {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.legend {
  width: auto;
  padding: 0 10px;
  border: none;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 10px;
}

/* Input Styles */
.input[type="text"],
.input[type="submit"],
.button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.input[type="submit"],
.button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
}

.input[type="submit"]:hover,
.button:hover {
  background-color: #4cae4c;
}

.input[type="checkbox"] {
  margin-right: 10px;
}
