/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 24px;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

/* Form Styles */
.form {
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20em;
}

.fieldset {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.legend {
  width: auto;
  max-width: 100%;
  padding: 0 10px;
  text-align:center;
  font-size: 0.63em;
  border: none;
  white-space: normal;
}

/* Input and Label Styles */
.input-text {
  width: 100%;
  padding: 0.1em;
}

.label,
.checkbox-label,
.input[type="text"],
.input[type="submit"],
.button {
  font-size: 0.7em;
}

.label,
.checkbox-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

/* Checkbox Styles */
.checkbox-group {
  display: flex;
  align-items: center;
}

.input[type="checkbox"] {
  margin-right: 10px;
}

/* Button Styles */
.input[type="submit"],
.button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
}

.input[type="submit"]:hover,
.button:hover {
  background-color: #4cae4c;
}
